---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %} {% include header.html %}
  <!-- Page Content -->
  <div class="container mb-5">
    {{ content }}
  </div>
  <!-- /.container -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <!-- <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
</body>

</html>